.section-features {
  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: var(--text-color-2);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);
    line-height: 160%;
    text-align: center;

    @include media-md {
      margin-bottom: 20px;
    }
  }

  &__features {
    margin-bottom: 125px;

    @include media-md {
      margin-bottom: 100px;
    }

    @include media-sm {
      margin-bottom: 50px;
    }
  }
}
