.section-market {
  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__label {
    margin-bottom: 20px;
    color: var(--text-color-2);
    font-size: var(--font-size-medium);
    font-weight: 500;
    line-height: 160%;

    @include media-lg {
      text-align: center;
    }
  }

  &__coins-stats {

  }
}
