.btn-secondary {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  color: var(--text-color-2);
  background-color: rgba(255, 255, 255, 0.05);
  font-family: var(--font-family-secondary);
  line-height: 24px;
  font-size: var(--font-size-default);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &_active {
    background-color: #EAEAEA;
    color: #211631;

    &:hover {
      background-color: #EAEAEA;
      color: var(--brand-color);
    }
  }
}

[data-theme="light"] .btn-secondary {
  &:hover {
    color: var(--brand-color);
  }

  &_active {
    color: #fff;
    background-color: var(--text-color-4);
  }
}
