.dropdown {
  position: relative;

  &_active {
    .dropdown__btn {
      + .dropdown__drop {
        transition: opacity .2s ease-in-out, transform .2s ease-in-out, visibility 0s 0s;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        visibility: visible;
      }
    }

    .dropdown__svg-arrow {
      transform: rotate(180deg);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--text-color-2);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .2s ease-in-out;
    outline: none;

    * {
      pointer-events: none;
    }

    &:hover {
      color: var(--brand-color);

      svg {
        fill: var(--brand-color);
      }
    }
  }

  &__svg-lang {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 10px;
    fill: var(--text-color-3);
  }

  &__svg-arrow {
    width: 12px;
    height: 8px;
    flex-shrink: 0;
    margin-left: 5px;
    fill: var(--text-color-2);
  }

  &__drop {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 7px 1px rgba(255, 255, 255, .1);
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out, visibility 0s .2s;
    pointer-events: none;
    visibility: hidden;
  }
}
