.title-h1 {
  color: var(--text-color-4);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}

.title-h2 {
  color: var(--text-color-4);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}
