.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -12px;

  @include media-sm {
    margin: 0;
  }

  &__card-default {
    width: calc(100% / 12 * 3 - 24px);
    margin: 12px;

    @include media-xl {
      width: calc(100% / 12 * 4 - 24px);
    }

    @include media-lg {
      width: calc(100% / 12 * 6 - 24px);
    }

    @include media-sm {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}
