.feature-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(200px);

  @include media-md {
    align-items: center;
    padding: 20px;
  }

  &__icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      flex-shrink: 0;
    }
  }

  &__title {
    margin-bottom: 12px;
    color: var(--text-color-4);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    @include media-md {
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 35px;
    color: var(--text-color-2);
    font-family: 'Roboto', sans-serif;
    line-height: 24px;

    @include media-md {
      text-align: center;
    }
  }

  &__link {
    margin-top: auto;
  }
}
