.footer {
  padding: 50px 0;
  border-top: 1px solid var(--border-color);

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-md {
      flex-direction: column-reverse;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    flex-grow: 1;

    @include media-md {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      margin-right: 0;
    }
  }

  &__cols {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
  }

  &__col {
    @include media-md {
      width: calc(100% / 3 - 20px);
    }

    @include media-sm {
      width: calc(100% / 3 - 10px);
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include media-sm {
        margin-right: 10px;
      }
    }
  }

  &__logo {
    display: block;
    flex-shrink: 0;
    margin-right: auto;
    margin-bottom: 40px;
    color: var(--text-color-main);
    font-size: var(--font-size-large);
    font-weight: 700;
    white-space: nowrap;

    @include media-md {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    span {
      color: var(--brand-color);
    }
  }

  &__social {
    margin-bottom: 40px;

    @include media-md {
      margin-bottom: 20px;
    }
  }

  &__copyright {
    color: var(--text-color-2);
    font-family: var(--font-family-secondary);
    line-height: 24px;

    @include media-md {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: var(--font-size-medium);
    font-weight: 600;
    line-height: 22px;
  }

  &__links-list {

  }

  &__link-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: var(--text-color-2);
    line-height: 24px;

    &:hover {
      color: var(--brand-color-hover);
    }
  }
}
