.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-radius: 12px;
  border: 1px solid var(--border-color);

  @include media-lg {
    padding: 20px;
  }

  @include media-sm {
    flex-direction: column;
  }

  &__info {
    width: 100%;
    max-width: 520px;
    margin-right: 20px;

    @include media-sm {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: var(--font-size-large);
    font-weight: 600;
    line-height: 32px;

    @include media-sm {
      text-align: center;
    }
  }

  &__text {
    color: var(--text-color-2);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium);

    @include media-sm {
      text-align: center;
    }
  }

  &__btn {
    flex-shrink: 0;
  }
}
