.nav {
  @include media-lg {
    margin: auto 0;
  }

  &__list {
    display: flex;
    align-items: center;

    @include media-lg {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;

      @include media-xl {
        margin-right: 10px;
      }

      @include media-lg {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    padding: 10px;
    color: var(--text-color-main);
    white-space: nowrap;

    &:hover {
      color: var(--brand-color);
    }
  }

  [data-theme="light"] &__link {
    font-weight: 600;
  }
}
