.section-about {
  margin-bottom: 230px;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 65px;
    color: var(--text-color-2);
    font-size: 18px;
    line-height: 160%;
    text-align: center;
  }

  &__articles {
    margin-bottom: 60px;
  }

  &__link-see-all-articles {
  }
}
