.section-market {
  &__title {
    margin-bottom: 30px;
  }

  &__label {
    margin-bottom: 20px;
    color: var(--text-color-2);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;

    @include media-lg {
      text-align: center;
    }
  }

  &__coins-stats {

  }
}
