.section-features {
  margin-bottom: 150px;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 75px;
    color: var(--text-color-2);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
  }

  &__features {
    margin-bottom: 125px;
  }
}
