:root {
  // Colors
  --brand-color: #0FAE96;
  --brand-color-hover: #0f8775;
  --main-bg-color: #11011E;
  --text-color-main: #fff;
  --text-color-2: #B6B6B6;
  --text-color-3: #C6C6C6;

  // Sizes
  --header-height: 90px;
  --page-max-width: 1260px;
  --side-padding: 40px;
  --side-padding-lg: 20px;
  --side-padding-sm: 10px;
}
