// Partials
@import './fonts';
@import './media-queries';
@import './mixins';
@import './variables';
@import './reset';

body {
  min-width: 320px;
  color: var(--text-color-main);
  background-color: var(--main-bg-color);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
}

// Layout
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('../img/bg-1.png'), url('../img/bg-2.png'), url('../img/bg-3.png');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: top center, center center, bottom center;

  &__header {

  }

  &__main {
    flex-grow: 1;
    overflow: hidden;
  }

  &__footer {

  }
}

.main {
  &__section {
    position: relative;
    margin-bottom: var(--section-vertical-gap);
  }
}

.wrapper {
  width: 100%;
  max-width: calc(var(--page-max-width) + (var(--side-padding) * 2));
  margin: 0 auto;
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);

  @include media-lg {
    padding-right: var(--side-padding-lg);
    padding-left: var(--side-padding-lg);
  }

  @include media-sm {
    padding-right: var(--side-padding-sm);
    padding-left: var(--side-padding-sm);
  }
}

.page-anchor {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc((var(--header-height) + 20px) * -1));
}

// Transition
button, a {
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

svg {
  transition: fill .2s ease-in-out, stroke .2s ease-in-out;
}

// Focus Visible
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

* {
  &:focus {
    outline: var(--brand-color) solid 2px;
    outline-offset: 1px;
  }
}
