// Partials
@import './fonts';
@import './variables';
@import './media-queries';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: var(--text-color-main);
  background-color: var(--main-bg-color);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

// Layout
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('../img/bg-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  &__header {

  }

  &__main {
    flex-grow: 1;
    overflow: hidden;
  }

  &__footer {

  }
}

.wrapper {
  width: 100%;
  max-width: calc(var(--page-max-width) + (var(--side-padding) * 2));
  margin: 0 auto;
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);

  @include media-lg {
    padding-right: var(--side-padding-lg);
    padding-left: var(--side-padding-lg);
  }

  @include media-sm {
    padding-right: var(--side-padding-sm);
    padding-left: var(--side-padding-sm);
  }
}

// Font
input, textarea, button, select {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

// Transition
button, a {
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

svg {
  transition: fill .2s ease-in-out, stroke .2s ease-in-out;
}

// Focus Visible
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

* {
  &:focus {
    outline: #000 solid 1px;
    outline-offset: -1px;
  }
}
